.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 200ms;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 200ms;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0ms;
}

.card .back {
  transition: all ease-in 200ms;
  transition-delay: 200ms;
}

.card img {
  max-height: 150px;
  max-width: 150px;
  min-width: 100px;
  width: 12vw;
  height: min(28vw, 28vh);
  border: 3px solid white;
  border-radius: 4px;
}
